body {
	margin: 0;
	padding: 0;
}

.pnt {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Rubik", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.pnt.pnt_container {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

.pnt.pnt_message_body {
	/* Default values will be overwritten by JS later */
	--message-body-width: 500px;
	--message-color: green;
	--message-close-button-display-style: block;
	--message-text-color: #ccc;
	--animaton-duration: 0.5s;
	--animation-interpolation: cubic-bezier(0.075, 0.82, 0.165, 1);
	color: var(--message-text-color);
	width: var(--message-body-width);
	margin: 20px 20px 0 0;
	padding: 10px;
	border-radius: 5px;
	background: var(--message-color);
	display: grid;
	grid-template-columns: 1fr 30px;
	grid-template-rows: 30px 1fr;
	align-items: center;
	row-gap: 10px;
	column-gap: 20px;
	transform: translateX(0);
	transition: transform var(--animaton-duration) var(--animation-interpolation);
}

.pnt.pnt_message_title {
	font-size: 25px;
	font-weight: bold;
}

.pnt.pnt_message_close_button {
	display: var(--message-close-button-display-style);
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.pnt.pnt_message_close_button_element {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 30px;
	background: var(--message-text-color);
	border-radius: 5px;
}

.pnt.pnt_message_close_button_element_1 {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.pnt.pnt_message_close_button_element_2 {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.pnt.pnt_message_text {
	grid-column: span 2;
	font-size: 17px;
}

.pnt.pnt.pnt_message_body.pnt_slide_right {
	transform: translateX(calc(var(--message-body-width) + 20px));
}
